

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
  <h2 class="white-text"><%= movieid.Title %></h2>
    <p><img src="<%= movieid.Poster %>" class="img-responsive img"></p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p><strong>Director:</strong> <%= movieid.Director %></p>
    <p><strong>Rated:</strong> <%= movieid.Rated %></p>
    <p><strong>Rating:</strong> <%= movieid.tomatoMeter %></p>
    <p><strong>IMDB Rating:</strong> <%= movieid.imdbRating %>
    <p><strong>Year:</strong> <%= movieid.Year %></p>
    <p><strong>Runtime:</strong> <%= movieid.Runtime %></p>
    <p><strong>Plot:</strong> <%= movieid.Plot %></p>
    <p><a href="/" class="btn btn-default">&larr; search more movies</a></p>
  </div>
</div>






